<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.veneta.prestotest.presto.dao.PrestoDAO">

    <select id="selectUser">
        /* 연합 쿼리 실습: MySQL 유저와 Maria 유저 Join */
        SELECT
            u.userName as mysqlUserName,
            l.userName as mariaUserName
        FROM mysql.dev_mysql.user u
                 cross JOIN mariadb.dev_mariadb.user l
    </select>

    <update id="updateUserName">
        UPDATE mysql.dev_mysql.user
        SET userName = #{newUserName}
        WHERE userName = #{userName}
    </update>


</mapper>